$size: 200px;
$size-info: 160px;
.pie-chart-info{
  position: absolute;
  // align to center
  left: calc(50% - #{$size-info}/2);
  top: calc(50% - #{$size-info}/2);
  width: $size-info;
  height: $size-info;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #f4a09c;
  line-height: 50px;
  font-size: 20px;
  
}
.pie-chart{
  position: relative;
  width: $size;
  height: $size;
  background-color: #e4e4e4;
  margin:100px auto;
  border-radius: 50%;
  &.gt-50{
    background: linear-gradient(90deg,#e4e4e4,#e4e4e4 $size/2,#ee6d66 $size/2,#ee6d66);
  }
}

.pie-chart-back {
  position:absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  clip: rect(0,$size,$size,$size/2);
  .gt-50 &{
    clip: rect(0,$size/2,$size,0);
  }
  .pie-chart-fill{
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    clip: rect(0,$size/2,$size,0px);
    background-color: #ee6d66; 
    $per: 90;
    transform: rotate(360deg*$per/100);
  }
}
body{
  background-color: #545454;
}
*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}