$size: 200px;
$size-info: 160px;
.header{
  width: 100%;
  font-family: 'Lobster', cursive;
  color: rgb(255,255,255);
  text-align: center;
  font-size: 130px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 40px #ee66aa;
  // border-width: 0 0 5px 0;
  // border-style: dashed;
  // border-color: rgb(103, 103, 103);
  // line-height: 130px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
  justify-content:space-between;
}
.pie-chart-info{
  position: absolute;
  // align to center
  left: calc(50% - #{$size-info}/2);
  top: calc(50% - #{$size-info}/2);
  width: $size-info;
  height: $size-info;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #f4a09c;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 0 15px #848484;
  .effect{
    font-size: 30px;
    font-weight: 2px;
  }
  .perc{
    font-size: 25px;
    font-weight: 1.5px;
  }
  .key{
    opacity: 0.5;
  }
  
}
.pie-chart{
  position: relative;
  min-width: $size;
  height: $size;
  background-color: #e4e4e4;
  border-radius: 50%;
  box-shadow: 0 0 30px #fff;
  margin: 20px 50px;
  &.gt-50{
    background: linear-gradient(90deg,#e4e4e4,#e4e4e4 $size/2,#ee6d66 $size/2,#ee6d66);
  }

}

.pie-chart-back {
  position:absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  clip: rect(0,$size,$size,$size/2);
  .gt-50 &{
    clip: rect(0,$size/2,$size,0);
  }
  .pie-chart-fill{
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    clip: rect(0,$size/2,$size,0px);
    background-color: #ee6d66; 
    $per: 90;
    transform: rotate(360deg*$per/100);
  }
}
body{
  background-color: #000000;
}
*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}